<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encrypted Cloud Storage</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css">
    <script src="../static/encrypt.js" defer></script>
</head>
<style>
    *{
        /* color: white; */
    }
    .tempWidth{
        width: 100rem;
    }
    .group a div:hover{
        background-color: white;
    }
    .group2 a div:hover{
        background-color: white;
    }

    .heading div,kbd,div li a{
        color: white;
    }

</style>

<body>
    <div class="encryptBox h-screen flex justify-center items-center bg-black" style="background-image: url('../static/images/background2.jpg');background-size:cover;">

        <!-- Heading -->
        <div class="heading fixed top-0 w-full"> <!--fixed top-0 w-full-->
            <div class="w-full h-14 flex items-center" style="background-color: rgba(11, 13, 17, 0.6);">
                <div class="w-full logo flex flex-row items-center gap-1"><i
                        class="fa-solid fa-cloud fa-lg p-3"></i><kbd>Encrypted Cloud Storage</kbd>
                </div>
                <nav class="navbar w-full h-14 flex">
                    <ul class="h-full w-full flex flex-row gap-10 justify-end items-center mr-10">
                        <li><a href="#home"><i class="fa-solid fa-house fa-sm p-1 cursor-pointer"></i> Home</a></li>
                        <li><a href="#about"><i class="fa-solid fa-hashtag p-1 cursor-pointer"></i> About</a></li>
                        <li><a href="#services"><i class="fa-solid fa-gears p-1 cursor-pointer"></i> Services</a></li>
                        <li><a href="#config"><i class="fa-solid fa-wrench p-1 cursor-pointer"></i> Config</a></li>
                        <li><a href="#search"><i class="fa-solid fa-magnifying-glass p-1 cursor-pointer"></i> Search</a>
                        </li>
                    </ul>
                    <!-- <div class="flex flex-row items-center gap-1"><input class="outline-none p-1" type="text"
                            placeholder="Search"><i class="fa-solid fa-magnifying-glass p-3 cursor-pointer"></i></div> -->
                </nav>
            </div>
        </div>

        <div class="options w-96 fixed left-0 top-14 p-4 flex flex-col justify-between" style="background-color: rgba(11, 13, 17, 0.6); height: 93%;">
            <div class="group flex flex-col gap-3">
                <!-- Back -->
                <a href="/">
                    <div class="back flex items-center bg-yellow-500">
                        <i class="fa-solid fa-arrow-left p-2 fa-lg"></i>
                        <button class="p-2 pl-2">Back</button>
                    </div>
                </a>
                <!-- Encrypt -->
                <a href="/encrypt">
                    <div class="back flex items-center bg-yellow-500">
                        <i class="fa-solid fa-lock p-2 fa-lg"></i>
                        <button class="p-2 pl-2">Encrypt</button>
                    </div>
                </a>
                <!-- Create new -->
                <a href="/download/create_key">
                    <div class="create flex items-center bg-yellow-500">
                        <i class="fa-solid fa-circle-plus p-2 fa-lg"></i>
                        <button class="p-2 pl-2">Create New Key</button>
                    </div>
                </a>
                <!-- View Current key -->
                <a href="/download/current_key">
                    <div class="download flex items-center bg-yellow-500">
                        <i class="fa-solid fa-download p-2 fa-lg"></i>
                        <button class="p-2 pl-2">Download Current Key</button>
                    </div>
                </a>
                <!-- Upload key file -->
                <a href="/">
                    <div class="upload flex items-center bg-yellow-500">
                        <i class="fa-solid fa-upload p-2 fa-lg"></i>
                        <button class="p-2 pl-2">Upload Key file</button>
                    </div>
                </a>

                <!-- View -->
                <a href="/keys">
                    <div class="view flex items-center bg-yellow-500">
                        <i class="fa-solid fa-eye fa-lg p-2"></i>
                        <button class="p-2 pl-2">View</button>
                    </div>
                </a>

                <!-- Refresh -->
                <a href="/decrypt">
                    <div class="refresh flex items-center bg-yellow-500">
                        <i class="fa-solid fa-arrows-rotate p-2 fa-lg"></i>
                        <button class="p-2 pl-2">Refresh</button>
                    </div>
                </a>
            </div>
            <div class="group2">
                <!-- History -->
                <a href="/history">
                    <div class="history flex items-center bg-yellow-500">
                        <i class="fa-solid fa-clock-rotate-left p-2 fa-lg"></i>
                        <button class="p-2 pl-2">History</button>
                    </div>
                </a>
            </div>
        </div>
        <div class="uploadFiles h-96 tempWidth">
            <!-- upload files here -->
            <form action="/decrypt" method="POST" enctype="multipart/form-data" class="flex flex-row">
                <div class="uploadbox h-96 w-full flex flex-col items-center justify-evenly">
                    <div id="drop-area"
                        class="border-2 border-dashed border-gray-300 h-80 cursor-pointer rounded-sm flex flex-col items-center justify-center"
                        style="width: 50%;background-color: rgba(11, 13, 17, 0.6);">
                        <div class="flex flex-col justify-start gap-3 text-white">
                            <input type="file" value="decryptFile" name="decryptFile">
                            <p class="text-white">Drag & Drop files here or click to select files</p>
                        </div>
                    </div>
                    <div class="upload flex flex-row items-center">
                        <kbd class="text-white">Choose File & <span class="text-blue-500 text-xl"><b>Decrypt</b></span> it!!!</kbd>
                        <button class="uploadbtn ml-3 p-1 flex-row items-center gap-2 bg-yellow-500 rounded-lg"><i
                                class="fa-solid fa-check" type="submit"></i> Click Here</button>
                    </div>
                </div>
            </form>
        </div>
        <footer class="fixed right-0 bottom-0 h-16 w-80">
            <div class="h-16 bg-transparent social flex justify-evenly items-center text-white">
                <div class="instagram"><a target="_blank" href="https://www.instagram.com/just_prafull/"><i
                            class="fa-brands fa-instagram fa-2xl"></i></a></div>
                <div class="github"><a target="_blank" href="https://github.com/prafuel"><i
                            class="fa-brands fa-github fa-2xl"></i></a></div>
                <div class="linkedin"><a target="_blank"
                        href="https://www.linkedin.com/in/prafull-sonawane-79a401231/"><i
                            class="fa-brands fa-linkedin fa-2xl"></i></a></div>
            </div>
        </footer>
    </div>
</body>

</html>