<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encrypted Cloud Storage</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css">

    <link rel="icon" type="image/x-icon" href="../static/images/favicon.png">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
</head>
<style>
    * {
        color: white;
    }

    .tempHeight {
        height: 100vh;
    }
</style>

<body>
    <div class="bg-black h-screen mainBox flex flex-col gap-12 justify-center items-center"
        style="background-image: url('../static/images/background2.jpg');background-size:cover; background-repeat: no-repeat;">
        <div class="heading fixed top-0 w-full"> <!--fixed top-0 w-full-->
            <div class="w-full h-14 flex items-center" style="background-color: rgba(11, 13, 17, 0.6);">
                <div class="w-full logo flex flex-row items-center gap-1"><i
                        class="fa-solid fa-cloud fa-lg p-3"></i><kbd>Encrypted Cloud Storage</kbd>
                </div>
                <nav class="navbar w-full h-14 flex">
                    <ul class="h-full w-full flex flex-row gap-10 justify-end items-center mr-10">
                        <li class="pt-2 pb-1 w-80 border-white flex flex-row justify-end items-center">
                            <div class="flex flex-row items-center justify-center gap-2">
                                <i class="fa-solid fa-magnifying-glass p-1 cursor-pointer"></i>
                                <input id="searchInput"
                                    class="bg-black h-full outline-none p-3 rounded-xl"
                                    placeholder="Search" type="text">
                            </div>
                        </li>
                        <li><a href="#home"><i class="fa-solid fa-house fa-sm p-1 cursor-pointer"></i> Home</a></li>
                        <li><a href="#about"><i class="fa-solid fa-hashtag p-1 cursor-pointer"></i> About</a></li>
                        <li><a href="#services"><i class="fa-solid fa-gears p-1 cursor-pointer"></i> Services</a></li>
                        <li><a href="#config"><i class="fa-solid fa-wrench p-1 cursor-pointer"></i> Config</a></li>
                    </ul>
                    <!-- <div class="flex flex-row items-center gap-1"><input class="outline-none p-1" type="text"
                            placeholder="Search"><i class="fa-solid fa-magnifying-glass p-3 cursor-pointer"></i></div> -->
                </nav>
            </div>
        </div>

        <!-- top heading margin space -->
        <!-- <div class="headingMargin h-5"></div> -->

        <div class="config h-60  w-full bg-transparent flex flex-col-reverse pl-3 pr-3 gap-3 justify-around">
            <!-- Encrypt , Decrypt , Generate , View, Refresh -->
            <div class="options h-16 w-full flex flex-row-reverse justify-between items-center ">
                <div class="group1-options flex flex-row gap-7">
                    <!-- Encrypt -->
                    <a href="/encrypt">
                        <div class="encrypt flex items-center bg-yellow-500 border border-white rounded-lg">
                            <i class="fa-solid fa-lock p-2 fa-lg text-black"></i>
                            <button class="p-2 pl-2"><kbd class="text-black">Encrypt</kbd></button>
                        </div>
                    </a>
                    <!-- Decrypt -->
                    <a href="/decrypt">
                        <div class="decrypt flex items-center bg-yellow-500 border border-white rounded-lg">
                            <i class="fa-solid fa-lock-open p-2 fa-lg text-black"></i>
                            <button class="p-2 pl-2"><kbd class="text-black">Decrypt</kbd></button>
                        </div>
                    </a>
                </div>

                <div class="group2-options flex flex-row gap-7">
                    <!-- Generate -->
                    <a href="/download/create_key">
                        <div class="create flex items-center bg-yellow-500 border border-white rounded-lg">
                            <i class="fa-solid fa-circle-plus p-2 fa-lg text-black"></i>
                            <button class="p-2 pl-2 text-black"><kbd class="text-black">Generate</kbd></button>
                        </div>
                    </a>

                    <!-- Download -->
                    <a href="/download/current_key">
                        <div class="download flex items-center bg-yellow-500 border border-white rounded-lg">
                            <i class="fa-solid fa-download p-2 fa-lg text-black"></i>
                            <button class="p-2 pl-2 text-black"><kbd class="text-black">Download Current
                                    Key</kbd></button>
                        </div>
                    </a>

                    <!-- View -->
                    <a href="/keys">
                        <div class="view flex items-center bg-yellow-500 border border-white rounded-lg">
                            <i class="fa-solid fa-eye fa-lg p-2 text-black"></i>
                            <button class="p-2 pl-2 text-black"><kbd class="text-black">View</kbd></button>
                        </div>
                    </a>

                    <!-- Refresh -->
                    <a href="/">
                        <div class="refresh flex items-center bg-yellow-500 border border-white rounded-lg">
                            <i class="fa-solid fa-arrows-rotate p-2 fa-lg text-black"></i>
                            <button href="/" class="p-2 pl-2 text-black"><kbd class="text-black">Refresh</kbd></button>
                        </div>
                    </a>
                </div>

            </div>

            <!-- get ur json file -->
            <div class="json h-16 w-full flex flex-row items-center justify-between"
                style="background-color: rgba(16, 15, 15, 0.7);">
                <div class="text ml-2">
                    <kbd>Get yourself a .json file on Google Cloud Console </kbd><a target="_blank"
                        href="https://support.site24x7.com/portal/en/kb/articles/how-to-upload-a-service-account-json-file-to-authenticate-site24x7-for-discovery-of-gcp-resources">
                        <i class="fa-solid fa-link"></i> (Link)</a>
                </div>
                <div class="or mr-2">
                    <form action="/" method="POST" enctype="multipart/form-data">
                        <input type="file" value="jsonFile" name="jsonFile">
                        <button class="p-1 rounded-sm bg-yellow-500 text-black" type="submit">Upload</button>
                    </form>
                </div>
            </div>
            <!-- Key Generation or Upload key file -->
            <div class="key h-16 w-full flex flex-row items-center" style="background-color: rgba(16, 15, 15, 0.7);">
                <div class="w-full generate_key flex items-center justify-between ml-2 mr-2">
                    <kbd>Upload Key file (example.key): <span class="text-red-600 font-black text-lg">
                            (if key file is existed, previous one will be overwrite)</span></kbd>
                    <div class="or flex flex-row justify-between items-center gap-3">
                        <form action="/" method="POST" enctype="multipart/form-data">
                            <input type="file" value="keyFile" name="keyFile">
                            <button class="p-1 rounded-sm bg-yellow-500 text-black" type="submit">Upload</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="services">
            <div class="uploadFiles h-96">
                <!-- upload files here -->
                <form action="/" method="POST" enctype="multipart/form-data"
                    class="h-full w-screen flex flex-row gap-5">
                    <div class="uploadbox h-full w-full flex flex-col items-center justify-evenly gap-3">
                        <div id="drop-area"
                            class=" h-full border border-white cursor-pointer rounded-sm flex flex-col items-center justify-center"
                            style="width: 76%; background-color: rgba(11, 13, 17, 0.6);">
                            <div class="flex flex-col justify-start gap-3">
                                <input type="file" value="fileInput" name="fileInput">
                                <p>Drag & Drop files here or click to select files</p>
                            </div>
                        </div>
                        <div class="upload flex flex-row items-center">
                            <kbd><span><b class="text-blue-500">Encrypt</b></span> and <span><b
                                        class="text-blue-500">Upload</b></span> it on drive!!!</kbd>
                            <button
                                class="ml-3 p-1 border border-white flex-row items-center gap-2 bg-yellow-500 text-black rounded-lg"
                                type="submit">Click Here</button>
                            <!-- <i class="fa-solid fa-check text-black"></i> -->
                        </div>
                    </div>
                    <div class="file-id h-full w-full flex flex-col items-center justify-evenly gap-3">
                        <form action="/" method="POST" enctype="multipart/form-data"
                            class="h-full w-screen flex flex-row gap-5">
                            <div id="getinput"
                                class=" h-full border border-white cursor-pointer rounded-sm flex flex-col items-center justify-center"
                                style="width: 76%; background-color: rgba(11, 13, 17, 0.6);">
                                <div class="h-16 flex flex-col justify-start gap-3" style="width: 90%;">
                                    <input
                                        class="h-full w-full bg-black p-5 outline-none rounded-xl border-2 border-yellow-500 text-lg"
                                        type="text" placeholder="Enter File ID : 1jC2dd****************kgUcOAs9_9D"
                                        name="fileId">
                                </div>
                            </div>
                            <div class="upload flex flex-row items-center">
                                <kbd><span><b class="text-blue-500">Decrypt</b></span> and <span><b
                                            class="text-blue-500">Download</b></span> from drive!!!</kbd>
                                <button
                                    class="ml-3 p-1 border border-white flex-row items-center gap-2 bg-yellow-500 text-black rounded-lg"
                                    type="submit">Click Here</button>
                                <!-- <i class="fa-solid fa-check text-black"></i> -->
                            </div>
                        </form>
                    </div>
                </form>
            </div>
        </div>

        <footer class="fixed right-0 bottom-0 h-16 w-80">
            <div class="h-16 bg-transparent social flex justify-evenly items-center text-white">
                <div class="instagram"><a target="_blank" href="https://www.instagram.com/just_prafull/"><i
                            class="fa-brands fa-instagram fa-2xl"></i></a></div>
                <div class="github"><a target="_blank" href="https://github.com/prafuel"><i
                            class="fa-brands fa-github fa-2xl"></i></a></div>
                <div class="linkedin"><a target="_blank"
                        href="https://www.linkedin.com/in/prafull-sonawane-79a401231/"><i
                            class="fa-brands fa-linkedin fa-2xl"></i></a></div>
            </div>
        </footer>
    </div>

    <script src="../static/index.js"></script>
</body>

</html>